# Ignore node_modules to avoid copying it into the Docker image
node_modules

# Ignore log files
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore build artifacts
build
dist

# Ignore environment files (optional, for security reasons)
.env
.env.local
.env.development
.env.test
.env.production

# Ignore temporary files and directories
.DS_Store
.tmp
*.swp
*.swo

# Ignore Git-related files
.git
.gitignore

# Ignore Docker-related files
docker-compose.yml
Dockerfile
.dockerignore
